.pointer {
	cursor: pointer;
}

.top-section {
	border-bottom: 1px solid #337ab7;
}

.show-final-section {
	font-size: 13px;
	color: black;
}

.open-opportunities-section, .list-section {
	max-height: 300px;
	height: 300px;
	overflow: auto;
}

.open-opportunities {
	overflow: auto;
}

.fullWidth {
	width: 100%;
}